* {
  border: 0;
  border-radius: 8px;
  font-family: UbuntuMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @color8;
}

window > box {
	margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid @color0;
    background: @base;
    color: white;
}

tooltip {
  background: @base;
  border-color: @crust;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

#backlight,
#cpu,
#custom-swaync,
#memory,
#network,
#pulseaudio,
#tray,
#clock,
#window,
#mpris,
#workspaces {
  background: @crust;
  border-radius: 8px;
  border: 1px solid @crust;
  font-weight: 600;
  margin: 6px 0 6px 0;
  padding: 3.5px 16px;
}

#tray {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: @color0;
}

#tray menu * {
  color: @color0;
  background-color: @background;
}

#workspaces {
  font-weight: Bold;
  margin-left: 10px;
  margin-right: 0px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}

#workspaces :nth-child(5) {
  margin-right: 0px;
}

#workspaces button {
  border-radius: 6px;
  color: @color9;
  padding: 6px;
  margin-right: 5px;
}

#workspaces button.active {
  background: @color2;
  color: @color8;
}

#workspaces button.focused {
  background: @color7;
  color: @color8;
}

#workspaces button.urgent {
  background: @color4;
  color: @color8;
}

#workspaces button:hover {
  background: @crust;
  color: @color7;
}

#window {
  background: @crust;
  color: @color0;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar.empty #window {
  background-color: transparent;
  border-color: transparent;
}

#cpu,
#memory {
  color: @color1;
}

#cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

#memory {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#mpris {
  color: @color7;
  margin-left: 10px;
}

#clock {
  border-right: 0px;
  color: @color6;
  font-weight: 600;
  margin-right: 10px;
}

#custom-swaync {
  color: @color1;
  margin-right: 10px;
  margin-right: 10px;
  padding-right: 18px;
}

#network {
  color: @color3;
  margin-right: 10px;
  margin-left: 10px;
}

#pulseaudio {
  border-left: 0px;
  border-right: 0px;
  color: @color5;
  margin-right: 10px;
}
